.App {
  text-align: center;
  background-image: url("bg.jpg");
  height: 800px;
  display: block;
}





.nav ul {
  list-style: none;
  
}


h1{
  font-size: 55px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-top: 0px;
  padding-top: 80px;
}

h2{
  font-size: 40px;
}

nav ul li {
  display: inline-block;
  padding: 30px;
  font-size: 30px;
}

nav ul li {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

